{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Helper</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <h1 class="header_title">Помощник по питанию</h1>
                <h3 class="header_subtitle">Улучши свое питание уже сейчас</h3>
                <button class="btn" id='js-open-modal-btn'>Войти</button>
            </div>
            <div class="more">
                <p>Подробнее</p>
                <button href='#'class="triangle-button">
                    <img src = "{% static "img/triangle.svg" %}">
                </button>
            </div>
        </div>
    </header>
    <section class="info">
        <div class="container">
            <div class="wrapper">
                <div class="info__block">
                    <h4 class="info__title">Что такое помощник питания?</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto minus, veritatis soluta, vero, ex illum cum aliquid quam mollitia dignissimos unde quo et labore nihil dolores? Voluptatum ut iste porro!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium possimus commodi dolores id laudantium maiores. Asperiores soluta odit nisi quos eligendi error velit. Aperiam ipsa alias sint. Assumenda, impedit laudantium?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, est. Aspernatur ipsum voluptate quam optio repudiandae a ratione placeat! Corrupti, dolorum debitis omnis aliquam voluptas assumenda deserunt cumque molestias quos!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, iure sit aperiam doloremque voluptas enim! Consequatur nobis perspiciatis, doloribus quod ipsam, quos dolorum sed temporibus similique, minus at. Repellendus, voluptas.
                    </p>
                </div>
                
                <div class="info__block">
                    <h4 class="info__title">Какие цели поможет достичь наш сервис?</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto minus, veritatis soluta, vero, ex illum cum aliquid quam mollitia dignissimos unde quo et labore nihil dolores? Voluptatum ut iste porro!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium possimus commodi dolores id laudantium maiores. Asperiores soluta odit nisi quos eligendi error velit. Aperiam ipsa alias sint. Assumenda, impedit laudantium?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, est. Aspernatur ipsum voluptate quam optio repudiandae a ratione placeat! Corrupti, dolorum debitis omnis aliquam voluptas assumenda deserunt cumque molestias quos!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, iure sit aperiam doloremque voluptas enim! Consequatur nobis perspiciatis, doloribus quod ipsam, quos dolorum sed temporibus similique, minus at. Repellendus, voluptas.
                    lor</p>
                </div>

                <div class="info__block">
                    <h4>Вот тут вот можно реализовать
                        регистрацию, как мне кажется,
                        будет лаконичнее, но можно 
                        сделать переход</h4>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="wrapper__footer">
                <h5 class="footer__title">Будь в форме</h5>
            </div>
        </div>
    </footer>

    <div class="modal" id="js-my-modal">
        <div class="modal-box" id="js-my-modal-login">
            <button class="modal-close-btn" id="js-close-my-modal">
                <img src="{% static "img/close_btn.svg" %}">
            </button>
            <div class="form-box">
                <h2>Вход</h2>
                <form id="login-form">
                    <div class="inputbox">
                        <input type="text" id="username" name="username" required>
                        <label for="">Логин</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" id="password" name="password" required>
                        <label for="">Пароль</label>
                    </div>
                    <div class="links_btns">
                        <button type = "submit" class="signin-btn">Войти</button>
                        <div class="forgot_password">
                            <a href="" class="signin_link">Забыли пароль?</a>
                        </div>
                    </div>
                </form>
                <div class="logreg-link">
                    <p>Нет аккаунта? <button type="button" class="signin_link" id="js-register-btn">Зарегистрироваться</button></p>
                </div>
            </div>
        </div>

        <div class="modal-box-register" id="js-my-modal-register">
            <button class="modal-close-btn" id="js-close-my-modal-register">
                <img src="{% static "img/close_btn.svg" %}">
            </button>
            <h2>Регистрация</h2>
            <div class="form-box-register">
                <form id="register-form">
                <div class="first_reg_page" id="js-first-reg-page">
                    <div class="form-block">
                            <div class="inputbox">
                                <input type="text" id="username" name="username" required>
                                <label for="">Имя пользователя</label>
                            </div>
                            <div class="inputbox">
                                <input type="email" id="email" name="email" required>
                                <label for="">Адрес электронной почты</label>
                            </div>
                            <div class="inputbox">
                                <input type="password" id="password" name="password" required>
                                <label for="">Пароль</label>
                            </div>
                            <p>Пол</p>
                            <div class="sex_list">
                                <div>
                                    <input type="radio" name="gender" id="rb1" value="Мужской" checked> 
                                    <label for="rb1">Мужской</label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" value="Женский" id="rb2"> 
                                    <label for="rb2">Женский</label>
                                </div>
                            </div>
                    </div>
                    <div class="form-block">
                            <div class="date_of_birth">
                                <p>Дата рождения</p>
                                <input type="date" id="date_of_birth" name="date_of_birth" required>
                            </div>
                            <p>Цель</p>
                            <div class="goals_list">
                                <div>
                                    <input type="radio" name="goal" id="cb1" value="Набрать мышечную массу" checked> <label for="cb1">Набрать мышечную массу</label>
                                </div>
                                    
                                <div>
                                    <input type="radio" name="goal" id="cb2" value="Сбросить вес"> <label for="cb2">Сбросить вес</label>
                                </div>
                                    
                                <div>
                                    <input type="radio" name="goal" id="cb3" value="Уменьшить массовую долю жира"> <label for="cb3">Уменьшить массовую долю жира</label>
                                </div>
                            </div>
                        <div class="links_btns_register">
                            <button type="button" class="next_step_btn" id="js-next-step-btn">Следующий шаг</button>
                        </div>
                    </div>
                </div>
                <div class="second_reg_page" id="js-second-reg-page">
                    <div class="form-block">
                            <div class="question_lists">
                                <p>Употребляете ли Вы продукты животного происхождения?</p>
                                <div>
                                    <input type="radio" name="vegan_vegetarian" id="bb1" value="Всеядный" checked> <label for="bb1">Да</label>
                                </div>
                                    
                                <div>
                                    <input type="radio" name="vegan_vegetarian" id="bb2" value="Вегетарианец"> <label for="bb2">Нет, я вегетарианец</label>
                                </div>
                                    
                                <div>
                                    <input type="radio" name="vegan_vegetarian" id="bb3" value="Веган"> <label for="bb3">Нет, я веган</label>
                                </div>
                            </div>
                            <div class="question_lists">
                                <p>Есть ли продукты, которые для Вас нежелательны?</p>
                                <div>
                                    <input type="radio" name="choice" id="yes"> <label for="yes">Да</label>
                                </div>
                                    
                                <div>
                                    <input type="radio" name="choice" id="no" checked> <label for="no">Нет</label>
                                </div>
                            </div>
                        <div class="links_btns_register">
                            <button type="button" class="prev_step_btn" id="js-prev-step-btn">Предыдущий шаг</button>
                        </div>
                    </div>
                    <div class="form-block">
                        <div class="additional_info" id="additional-block">
                                <div class="form-wrapper">
                                    <p>Укажите, употребление каких продуктов нежелательно для Вас</p>
                                    <div class="string-list" id="stringList"></div>                  
                                    <div class="input-area">
                                        <button class = "list-add-btn" id="showInputButton"> <img src="{% static "img/addWord.svg" %}" alt="">добавить продукт / группу
                                            продуктов</button>
                                        <div class="textInputContainer" id="textInputContainer">
                                            <input type="text" name="allergies" class="inputField" id = "newInput" placeholder="Введите слово">
                                            <button class="addButton" id = "newButton">Добавить</button>
                                        </div>
                                    </div>      
                                </div>


                                {% comment %} Доработать {% endcomment %}
                                <label for="allergies">Allergies:</label>
                                <input type="text" id="allergies" name="allergies"><br><br>
                                {% comment %}  {% endcomment %}


                                <div class="height-weight-block">
                                    <p class="hw_title">Укажите текущие вес и рост</p>
                                    <div class="inputbox_wrapper">
                                        <div class="inputbox_hw">
                                            <input type="number" id="weight" name="weight" required>
                                        </div>
                                        <p>кг</p>
                                    </div>
                                    <div class="inputbox_wrapper">
                                        <div class="inputbox_hw">
                                            <input type="number" id="height" name="height" required>
                                        </div>
                                        <p>см</p>
                                    </div>
                                </div>
                                <div class="links_btns_register">
                                    <button type="submit" class="next_step_btn" id="js-complete-reg-btn">Завершить регистрацию</button>
                                </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="step" id="js-step">
                <img src="{% static "img/ellipse.svg" %}" alt="">
                <img src="{% static "img/ellipse1.svg" %}" alt="">
                <p>Шаг 1</p>
            </div>
            <div class="step2" id="js-step2">
                <img src="{% static "img/ellipse1.svg" %}" alt="">
                <img src="{% static "img/ellipse.svg" %}" alt="">
                <p>Шаг 2</p>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            fetch('/api/login/', {
                method: 'POST',
                body: JSON.stringify({
                    username: formData.get('username'),
                    password: formData.get('password')
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
              .then(data => {
                  if (data.access) {
                      localStorage.setItem('token', data.access);
                      window.location.href = '/profile/';
                  }
              });
        });
    </script>

    <script>
        document.getElementById('register-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = {};
            formData.forEach((value, key) => { data[key] = value });
            
            fetch('/api/register/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    window.location.href = '';
                } else {
                    response.json().then(data => {
                        console.error('Error:', data);
                    });
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

</body>
<script src="{% static "script.js" %}" defer></script>

</html>
