{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Helper | Profile</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>
    <header class="header_main">
        <div class="contaner">
            <div class="header-box">
                <h1>Помощник по питанию</h1>
                <a href="#" id="logout_btn" class="logout_btn">Выйти</a>
            </div>
        </div>
    </header>
    <section class="info_main">
        <div class="contaner">
            <div class="main_block">
                <div class="main_info">
                    <div class="personal_info">
                        <div class="personal_photo">
                            <img src="{% static "img/photo.svg" %}" alt="">
                            <button class="main-btns"><img src="{% static "img/dice.svg" %}" alt=""></button>
                        </div>
                        <div class="personal_info_block" id="profile">
                            <h2 id="username"></h2>
                            <div class="personal_info_subblock">
                                <p>Email</p>
                                <span id="email"></span>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Пол</p>
                                <span id="gender"></span>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Дата рождения</p>
                                <span id="date_of_birth"></span>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Рост</p>
                                <span id="height"></span>
                                <p>Вес</p>
                                <span id="weight"></span>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Образ пиания</p>
                                <span id="vegan_vegetarian"></span>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Нежелательные продукты</p>
                                <span id="allergies"></span>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Цель</p>
                                <span id="goal"></span>
                            </div>
                            <button type="button" class="main-links" id="recovery-password-btn">Сменить пароль</button>
                            <button class="edit-info-btn">Редактировать</button>
                        </div>
                    </div>

                    {% comment %} <div class="personal_info_block" id="editProfile">
                        <form id="editProfileForm">
                            <h2>Редактировать профиль</h2>
                            <div class="personal_info_subblock">
                                <p>Email</p>
                                <input type="email" id="editEmail" required>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Пол</p>
                                <select id="editGender" required>
                                    <option value="male">Мужской</option>
                                    <option value="female">Женский</option>
                                </select>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Дата рождения</p>
                                <input type="date" id="editDateOfBirth" required>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Рост (см)</p>
                                <input type="number" id="editHeight" required>
                                <p>Вес (кг)</p>
                                <input type="number" id="editWeight" required>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Образ питания</p>
                                <select id="editVeganVegetarian" required>
                                    <option value="vegan">Веган</option>
                                    <option value="vegetarian">Вегетарианец</option>
                                    <option value="none">Нет</option>
                                </select>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Нежелательные продукты</p>
                                <input type="text" id="editAllergies" required>
                            </div>
                            <div class="personal_info_subblock">
                                <p>Цель</p>
                                <input type="text" id="editGoal" required>
                            </div>
                            <button type="submit" class="main-links">Сохранить</button>
                            <button type="button" class="main-links" id="cancelEditButton">Отмена</button>
                        </form>
                    </div> {% endcomment %}


                    <div class="food_info">
                        <h3>История за день</h3>
                        <span class="food-date" id="currentDate">Дата</span>
                        <div class="food-main">
                            <div class="food-info-headers">
                                <h4>Тип приема пищи</h4>
                                <h4>Время</h4>
                                <h4>Оценка</h4>
                            </div>
                            <div class="food-add-info">
                    
                            </div>
                            <div class="input-area">
                                <button class = "list-add-btn" id="addMealButton"> <img src="{% static "img/addWord.svg" %}" alt="">Добавить приём пищи</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                {% block content %}
                <div class="chat-block" id="chatBlock">
                    <div class = "chat-window"> 
                        <div class="chat-content">
                            <div class="chat-header">
                                <h2>A.I Food Helper</h2>
                            </div>
                            <div class="chat-input-content">
                                <div class="chat-input-content-btns">
                                    <button>Добавить приём пищи</button>
                                    <button type="button" onclick="location.href='{% url 'new_chat' %}'">Clear chat</button>
                                </div>
                                <div class="chat-message-wrapper">
                                    {% for message in messages %}
                                        <div class="chat-message-content">
                                            <strong>{{ message.role|title }}:</strong> {{ message.content|linebreaksbr }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <form action="." method="POST">
                                    {% csrf_token %}
                                    <input required type="text" autofocus="autofocus" name="prompt" value="{{ prompt }}" id="">
                                    <button type="submit">
                                        SEND
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}

                <div class="food_add_info" id="foodAddInfo">
                    <h2>Добавление приёма пищи</h2>
                    <div class="add-meal-block-headers">
                        <h4>Тип приёма пищи</h4>
                        <button class="main-links" id="addMealTimeButton">Выбрать</button>
                        <form class="add-form" id="addMealForm">
                            <div class="__select" data-state="">
                                <div class="__select__title" data-default="Option 0">Завтрак</div>
                                <div class="__select__content">
                                  <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                                  <label for="singleSelect0" class="__select__label">Завтрак</label>
                                  <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                                  <label for="singleSelect1" class="__select__label">Завтрак</label>
                                  <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
                                  <label for="singleSelect2" class="__select__label">Обед</label>
                                  <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
                                  <label for="singleSelect3" class="__select__label">Ужин</label>
                                </div>
                              </div>
                        </form>
                    </div>
                    <div class="add-meal-block-headers">
                        <h4>Время</h4>
                        <button class="main-links" id="setTimeButton">00:00</button>
                        <form class="add-form" id="addTimeForm">
                            <div class="set-time-block">
                                <p>
                                    <input class="set-time-input" type="time" id="time" name="time"/>
                                </p>
                                <p>
                                    <button type="button" class="submit-time-btn">Принять</button>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="form-wrapper">
                        <h3>Употребленные продукты</h3>
                        <div class="type-of-food-block">
                            <div class="type-of-food-block-headers">
                                <h4>Наименование</h4>
                                <h4>Кол-во</h4>
                            </div>
                            <div class="string-list" id="stringList"></div>                  
                            <div class="input-area">
                                <button class = "list-add-btn" id="showInputButton"> <img src="{% static "img/addWord.svg" %}" alt="">Добавить съеденную пищу</button>
                                <div class="textInputContainer" id="textInputContainer">
                                    <input type="text" class="inputField" id = "newInput" placeholder="Введите слово">
                                    <button class="addButton" id = "newButton">Добавить</button>
                                </div>
                            </div>
                        </div>
                        <div class="results-btn-block">
                            <button class="results-btn" id="resultsBtn">Получить оценку</button>
                        </div>
                    </div>

                    <div class="results-block">
                        <h3>Оценка</h3>
                        <div class="result-list">
                            <ol>
                                <li><div class="result-list-item">
                                    <div class="name-of-product-result">
                                        <p>Кузя лакомкин</p>
                                        <h5>0/10</h5> <!--Оценка отдельного продукта-->
                                    </div>
                                <span>Комментарий</span> <!--Комментарий-->
                                </div></li>
                            </ol>
                        </div>
                        <h3 id="overallResult"></h3> <!--Общая оценка-->
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
<script src="{% static "script_main.js" %}" defer></script>
</html>