<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Helper</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header class="header_main">
        <div class="container">
            <div class="header-box">
                <h1>Помощник по питанию</h1>
                <a href="" class="logout_btn">Выйти</a>
            </div>
        </div>
    </header>
    <section class="info_main">
        <div class="container">
            <div class="personal_info">
                <div class="personal_photo">
                    <img src="img/photo.svg" alt="">
                    <button><img src="img/dice.svg" alt=""></button>
                </div>
                <div class="personal_info_block">
                    <h2>Имя</h2>
                    <div class="personal_info_subblock">
                        <p>Пол</p>
                        <span>инфа</span>
                    </div>
                    <div class="personal_info_subblock">
                        <p>Дата рождения</p>
                        <span>инфа</span>
                    </div>
                    <div class="personal_info_subblock">
                        <p>Рост</p>
                        <span>инфа</span>
                        <p>Вес</p>
                        <span>инфа</span>
                    </div>
                    <div class="personal_info_subblock">
                        <p>Нежелательные продукты</p>
                        <span>инфа</span>
                    </div>
                    <div class="personal_info_subblock">
                        <p>Цель</p>
                        <span>инфа</span>
                    </div>
                    <button class="change-password-btn">Сменить пароль</button>
                    <button class="edit-info-btn">Редактировать</button>
                </div>
            </div>
            <div class="food_info">
                <h3>История за день</h3>
                <span class="food-date">Дата</span>
                <div class="personal_info">
                    <div class="food-info-block">
                        <p>Тип приёма пищи</p>
                        <span>Завтрак</span>
                    </div>
                    <div class="food-info-block">
                        <p>Время</p>
                        <span>14:88</span>
                    </div>
                    <div class="food-info-block">
                        <p>Оценка</p>
                        <span>хз из 10</span>
                    </div>
                    <button class="food-info-btn">Подробнее</button>
                    <img src="img/pencil.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</body>
</html>